<header class="navbar" *ngIf="isLoggedIn()">
  <div class="nav-container">
    <div class="nav-left">
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/IBM_logo.svg" alt="IBM Logo" class="ibm-logo">
      </div>
    </div>

    <nav class="nav-right">
      <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
      
      <div class="dropdown">
        <button class="dropbtn">Employees</button>
        <div class="dropdown-content">
          <a routerLink="/employees" routerLinkActive="active">View Employees</a>
          <a *ngIf="isAdmin()" routerLink="/employees/add" routerLinkActive="active">Add New Employee</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Departments</button>
        <div class="dropdown-content">
          <a routerLink="/departments" routerLinkActive="active">View Departments</a>
          <a *ngIf="isAdmin()" routerLink="/departments/add" routerLinkActive="active">Add New Department</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Projects</button>
        <div class="dropdown-content">
          <a routerLink="/projects" routerLinkActive="active">View Projects</a>
          <a *ngIf="isAdmin()" routerLink="/projects/add" routerLinkActive="active">Add New Project</a>
        </div>
      </div>
      <div class="dropdown" *ngIf="isAdmin()">
        <button class="dropbtn">Roles</button>
        <div class="dropdown-content">
          <a routerLink="/roles" routerLinkActive="active">View Roles</a>
          <a routerLink="/roles/add" routerLinkActive="active">Add Role</a>
        </div>
      </div>

      <button (click)="logout()" class="btn-logout">Logout</button>
    </nav>
  </div>
</header>
